In [1]:
import pandas as pd

In [2]:
doc_id = '1rQD9-dVIWu1Z4qrXwEZ_JJn4quMLItzMmj2WttzISs4'
url = f'https://docs.google.com/spreadsheets/d/{doc_id}/export?format=csv'
capitals_coords = pd.read_csv(url)
capitals_coords = capitals_coords.rename(columns={
    'Country Name': 'country',
    'Capital Name': 'capital',
    'Capital Latitude': 'latitude',
    'Capital Longitude': 'longitude'
})
capitals_coords

,country,capital,latitude,longitude,Country Code,Continent Name
0,Afghanistan,Kabul,34.516667,69.183333,AF,Asia
1,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe
2,Albania,Tirana,41.316667,19.816667,AL,Europe
3,Algeria,Algiers,36.750000,3.050000,DZ,Africa
4,American Samoa,Pago Pago,-14.266667,-170.700000,AS,Australia
...,...,...,...,...,...,...
240,Wallis and Futuna,Mata-Utu,-13.950000,-171.933333,WF,Australia
241,Western Sahara,El-AaiÃºn,27.153611,-13.203333,EH,Africa
242,Yemen,Sanaa,15.350000,44.200000,YE,Asia
243,Zambia,Lusaka,-15.416667,28.283333,ZM,Africa
244,Zimbabwe,Harare,-17.816667,31.033333,ZW,Africa

In [3]:
capitals_coords = capitals_coords.replace('Macedonia', 'North Macedonia')

In [4]:
capitals_coords[capitals_coords['Continent Name'] == 'Europe'] \
    [['country', 'latitude', 'longitude']].to_csv('coordinates.csv', index=False)